@import url("https://fonts.googleapis.com/css?family=Arvo:400,700|Open+Sans:300,400,400i,700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

* {
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* =================================================================
flex settings
================================================================= */
/*********************
BREAKPOINTS
*********************/
body, a, h3, nav ul li:after {
  transition: width 0.2s, height 0.2s, top 0.2s, left 0.2s, bottom 0.2s, right 0.2s, opacity 0.2s, background 0.2s, color 0.2s, display 0.2s, border-bottom 0.2s, padding-top 0.2s, padding-bottom 0.2s, margin-top 0.2s, margin-bottom 0.2s; }

body, html {
  border: 0;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 12px; }

em {
  font-style: italic; }

#page {
  color: #1E1E24; }

.nav-wrap {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 2.75rem;
  z-index: 99;
  background-color: #F6F5F6;
  border-bottom: 2px solid #ccc; }
  .nav-wrap > div {
    padding: .2rem 1rem;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    opacity: 0; }
    .nav-wrap > div a {
      height: 25px;
      width: 25px; }
    .nav-wrap > div h1 {
      font-family: "Arvo", serif;
      font-weight: 700;
      margin-left: 1rem;
      font-size: 1.5rem;
      color: #333; }
  .nav-wrap button {
    position: absolute;
    right: 1rem;
    top: .05rem;
    background: transparent;
    border: 0;
    font-size: 2rem; }
    .nav-wrap button i {
      color: #1E1E24; }
    .nav-wrap button:hover {
      outline: 0;
      cursor: pointer;
      mix-blend-mode: multiply; }
      .nav-wrap button:hover i {
        color: #ffff00; }
      .nav-wrap button:hover:before {
        content: '\f0c9';
        font-family: 'fontawesome';
        position: absolute;
        top: 2px;
        left: 4px;
        color: #ff00ff;
        mix-blend-mode: multiply;
        opacity: .9; }
      .nav-wrap button:hover:after {
        content: '\f0c9';
        font-family: 'fontawesome';
        position: absolute;
        left: 2px;
        top: 3px;
        color: #00ffff;
        mix-blend-mode: multiply;
        opacity: .9; }
    .nav-wrap button:focus {
      outline: 0; }
  .nav-wrap nav {
    display: none;
    background-color: #353535; }
    .nav-wrap nav.open {
      display: block;
      position: absolute;
      right: 0;
      top: 30px;
      width: 200px;
      opacity: .8; }
      .nav-wrap nav.open ul li a {
        color: #fff;
        padding: 1em;
        display: block;
        text-align: right;
        font-family: "Arvo", serif;
        font-size: 1.25em;
        border-bottom: 2px solid #fff;
        text-decoration: none; }
        .nav-wrap nav.open ul li a i {
          margin-left: .5em; }
        .nav-wrap nav.open ul li a:hover, .nav-wrap nav.open ul li a:focus {
          background-color: #1E1E24;
          color: #72DD0D; }

.logo {
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  align-items: center; }
  .logo span {
    background-image: url("../img/avatar-me.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    display: block; }

.content-wrap {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 1em; }

section > h2 {
  text-transform: uppercase;
  border-bottom: 1px solid #666;
  padding-bottom: .25em;
  margin: 3em 0 1em;
  font-family: "Arvo", serif;
  font-size: 1.25rem; }

header section > p {
  font-size: 1.25em;
  line-height: 1.5;
  margin: 0 0 1em; }

.heading {
  padding-top: 3em; }
  .heading .logo {
    width: 120px;
    height: 120px; }
  .heading h1 {
    font-family: arvo;
    font-weight: 700;
    font-size: 3rem;
    mix-blend-mode: multiply;
    position: relative;
    color: #ffff00;
    opacity: .9; }
    .heading h1:before {
      content: 'Michael Johnson';
      position: absolute;
      top: 1px;
      left: -2px;
      color: #ff00ff;
      mix-blend-mode: multiply;
      opacity: .9; }
    .heading h1:after {
      content: 'Michael Johnson';
      position: absolute;
      left: -1px;
      top: 2px;
      color: #00ffff;
      mix-blend-mode: multiply;
      opacity: .9; }
  @media (min-width: 420px) {
    .heading {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: start;
      -moz-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: center;
      -moz-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; } }

#intro {
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: 1px dotted #999; }

main section {
  position: relative; }
  main section > p {
    font-size: 1.25em;
    line-height: 1.5;
    margin: 0 0 1em; }
    main section > p a {
      text-decoration: none;
      border-bottom: 1px solid #ccc;
      color: #031927; }
      main section > p a:hover, main section > p a:focus {
        border-bottom: 1px solid #72DD0D;
        color: #1E1E24; }

.text > p {
  font-size: 1.75rem;
  line-height: 1.5; }

.example {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .example li a {
    display: block; }
    .example li a img {
      display: block;
      width: 100%; }
    .example li a:before {
      content: '';
      background-size: cover;
      height: 100%;
      width: 100%;
      position: absolute;
      transition: .25s;
      opacity: 1;
      left: 0;
      top: 0; }
    .example li a#staffpunch {
      position: relative; }
      .example li a#staffpunch:before {
        background-image: url("../img/overlay-staffpunch.png"); }
    .example li a#food-truck {
      position: relative; }
      .example li a#food-truck:before {
        background-image: url("../img/overlay-food-truck.png"); }
  @media (min-width: 420px) {
    .example {
      -webkit-box-direction: normal;
      -moz-box-direction: normal;
      -webkit-box-orient: horizontal;
      -moz-box-orient: horizontal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row; }
      .example li {
        flex: 0 0 25%; }
        .example li a:before {
          opacity: 0; }
        .example li a:hover:before {
          opacity: 1; } }

#timeline {
  position: relative;
  margin-bottom: 5em; }
  #timeline > ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -moz-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    #timeline > ul > li {
      padding: 1em 0em 1em 2em;
      position: relative;
      width: 100%; }
      #timeline > ul > li .card {
        box-shadow: 0px 1px 2em 5px rgba(0, 0, 0, 0.1); }
        #timeline > ul > li .card .title {
          font-size: .9rem;
          padding: 1em;
          background-color: #999;
          text-align: left;
          position: relative;
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-box-align: center;
          -moz-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center; }
          #timeline > ul > li .card .title h3 {
            padding: .5em;
            color: #fff;
            font-weight: 700;
            background-color: #ccc;
            display: inline-block;
            font-size: 2em; }
          #timeline > ul > li .card .title > div {
            padding: 0 1em; }
            #timeline > ul > li .card .title > div span {
              font-size: .8em;
              color: #fff; }
            #timeline > ul > li .card .title > div h2 {
              color: #fff;
              font-weight: 700;
              font-size: 2em; }
          #timeline > ul > li .card .title:before {
            content: '\f10c';
            font-family: 'fontawesome';
            color: #999;
            position: absolute;
            background-color: #fff;
            border: 5px solid #fff;
            border-radius: 50%;
            z-index: 999;
            left: -2.8em; }
          #timeline > ul > li .card .title:after {
            position: absolute;
            content: '\f0d9';
            font-family: 'fontawesome';
            color: #999;
            left: -.3em;
            font-size: 3em; }
        #timeline > ul > li .card .body {
          padding: 1em; }
          #timeline > ul > li .card .body p {
            text-align: left;
            line-height: 1.5; }
          #timeline > ul > li .card .body .foot {
            border-top: 1px solid #ccc;
            margin-top: 1em;
            padding-top: 1em; }
            #timeline > ul > li .card .body .foot ul li button {
              width: 80px; }
            #timeline > ul > li .card .body .foot h4 {
              text-align: right; }
  #timeline:after {
    content: '';
    background-color: #ccc;
    height: 100%;
    position: absolute;
    width: 1px;
    left: 0;
    top: 20px; }
  @media (min-width: 780px) {
    #timeline {
      margin-bottom: 10em; }
      #timeline > ul {
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
        #timeline > ul > li {
          flex: 0 0 50%;
          padding: 3em; }
          #timeline > ul > li:nth-of-type(odd) {
            text-align: right; }
            #timeline > ul > li:nth-of-type(odd) .card .title {
              font-size: 1rem; }
              #timeline > ul > li:nth-of-type(odd) .card .title:before {
                content: '\f10c';
                font-family: 'fontawesome';
                left: calc(100% + 2.2em); }
              #timeline > ul > li:nth-of-type(odd) .card .title:after {
                content: '\f0da';
                left: 100%; }
          #timeline > ul > li:nth-of-type(even) {
            top: 10em; }
            #timeline > ul > li:nth-of-type(even) .card .title:before {
              left: -3.8em; }
      #timeline:after {
        content: '';
        left: 50%; } }

.list {
  list-style-type: circle;
  padding-left: 2em;
  line-height: 1.5; }

.side-by-side {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -moz-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 2em 0; }
  .side-by-side p {
    line-height: 1.5;
    margin: 0 0 1em; }
  @media (min-width: 780px) {
    .side-by-side .rt {
      margin-left: 2em; }
    .side-by-side p {
      flex: 0 0 25%; }
    .side-by-side .img-wrap {
      margin: 0;
      flex: 0 0 70%; } }

.img-wrap {
  margin-top: 2em; }
  .img-wrap img {
    display: block;
    width: 100%; }

.dialog-pop {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 2em 0; }
  .dialog-pop li {
    padding: .5em; }
    .dialog-pop li button {
      background-color: transparent;
      margin: 0;
      padding: 0;
      border-radius: 5px; }
    .dialog-pop li a {
      display: block; }
    .dialog-pop li button, .dialog-pop li a {
      border: 2px solid transparent;
      width: 120px; }
      .dialog-pop li button img, .dialog-pop li a img {
        display: block;
        width: 100%;
        border-radius: 5px; }
      .dialog-pop li button:hover, .dialog-pop li button:focus, .dialog-pop li a:hover, .dialog-pop li a:focus {
        cursor: pointer;
        border: 2px solid #72DD0D;
        outline: 0; }
  .foot .dialog-pop {
    padding: 0; }

.meta {
  text-align: right; }
  .meta h1 {
    font-family: "Arvo", serif;
    font-size: 3em; }
  .meta span {
    display: block;
    line-height: 1.25; }

.proto li button {
  width: 220px; }

footer {
  background-color: #031927;
  padding: 1em 0; }
  footer > div {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -moz-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    footer > div .footerMeta {
      display: block; }
      footer > div .footerMeta ul {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: justify;
        -moz-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: start;
        -moz-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; }
        footer > div .footerMeta ul:first-of-type {
          margin-right: 3em;
          padding-bottom: 1em; }
  footer h3 {
    font-family: "Arvo", serif;
    font-size: .8em;
    text-transform: uppercase;
    color: #7B787A;
    padding: .5em;
    letter-spacing: 1px; }
    footer h3 a {
      color: #F6F5F6;
      border-bottom: 1px solid #7B787A;
      text-decoration: none; }
      footer h3 a:hover, footer h3 a:focus {
        border-bottom: 1px solid #F6F5F6; }
  @media (min-width: 420px) {
    footer > div .footerMeta {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: justify;
      -moz-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -moz-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      footer > div .footerMeta ul:first-of-type {
        padding: 0; } }
  @media (min-width: 780px) {
    footer > div .footerMeta ul {
      -webkit-box-direction: normal;
      -moz-box-direction: normal;
      -webkit-box-orient: horizontal;
      -moz-box-orient: horizontal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row; } }
  @media (min-width: 1160px) {
    footer > div {
      -webkit-box-direction: normal;
      -moz-box-direction: normal;
      -webkit-box-orient: horizontal;
      -moz-box-orient: horizontal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row; } }

#design h3 {
  text-align: right;
  font-weight: 700;
  border-bottom: 1px dotted #353535; }
#design .list {
  padding: 1em 2em 3em; }
  #design .list li a {
    display: inline-block;
    padding: .5em 0 0;
    font-size: 1.25rem;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
    color: #031927; }
    #design .list li a:hover, #design .list li a:focus {
      border-bottom: 1px solid #72DD0D;
      color: #1E1E24; }
@media (min-width: 780px) {
  #design .list {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    #design .list li {
      flex: 1 0 50%; } }

#dialog {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  z-index: 9999;
  padding: 1em;
  background: #fff;
  border-radius: 5px; }

.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999; }

.ui-dialog {
  overflow: hidden;
  z-index: 9999;
  max-width: 600px; }
  .ui-dialog .ui-dialog-titlebar {
    position: absolute;
    z-index: 99999;
    right: 0;
    top: 0; }
    .ui-dialog .ui-dialog-titlebar .ui-button {
      background: transparent;
      border: 0;
      font-size: 2em;
      background-color: #fff;
      border-radius: 50%;
      margin: 0;
      padding: 1px 3px;
      outline: 0;
      transition: .5s; }
      .ui-dialog .ui-dialog-titlebar .ui-button:hover {
        cursor: pointer;
        color: #c10; }

.ui-dialog-content img {
  display: block;
  width: 100%; }

/*# sourceMappingURL=styles.css.map */
