@import url('https://fonts.googleapis.com/css?family=Arvo:400,700|Open+Sans:300,400,400i,700');
@import 'reset';
@import 'flex';
@import 'breakpoints';

$max-width: 1160px;
$mid-break: 780px;
$small-break: 420px;
$content-width: 960px;

$open: 'Open Sans', sans-serif;
$arvo: 'Arvo', serif;

$blk: #1E1E24;
$blue-dk: #031927;
$silver: #7B787A;
$smoke: #F6F5F6;
$lime: #72DD0D;
$red-dk: #5F261E;
$jet: #353535;

body, a, h3, nav ul li:after {
    transition: width 0.2s, height 0.2s, top 0.2s, left 0.2s, bottom 0.2s, right 0.2s, opacity 0.2s, background 0.2s, color 0.2s, display 0.2s, border-bottom 0.2s, padding-top 0.2s, padding-bottom 0.2s, margin-top 0.2s, margin-bottom 0.2s;
}

body, html {
  border: 0;
  padding: 0;
  margin: 0;
  font-family: $open;
  font-size: 12px;
}

em {
    font-style: italic;
}

#page {
    color: $blk;
}

.nav-wrap {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 2.75rem;
    z-index: 99;
    background-color: $smoke;
    border-bottom: 2px solid #ccc;
    
    > div {
        padding: .2rem 1rem;
        @include flex-display;
        @include flex-justify-start;
        @include flex-items-center;
        opacity: 0;
        
        a {
            height: 25px;
            width: 25px;
        }
        
        h1 {
            font-family: $arvo;
            font-weight: 700;
            margin-left: 1rem;
            font-size: 1.5rem;
            color: #333;
        }
    }
    
    button {
        position: absolute;
        right: 1rem;
        top: .05rem;
        background: transparent;
        border: 0;
        font-size: 2rem;
        
        i {
            color: $blk;
        }
        
        &:hover {
            outline: 0;
            cursor: pointer;
            mix-blend-mode: multiply;
            
            i {
                color: #ffff00;
            }
            
            &:before {
                content:'\f0c9';
                font-family: 'fontawesome';
                position: absolute;
                top: 2px;
                left: 4px;
                color: #ff00ff;
                mix-blend-mode: multiply;
                opacity: .9;
            }
            &:after {
                content:'\f0c9';
                font-family: 'fontawesome';
                position: absolute;
                left: 2px;
                top: 3px;
                color: #00ffff;
                mix-blend-mode: multiply;
                opacity: .9;
            }
        }
        &:focus {
            outline: 0;
        }
    }
    
    nav {
        display: none;
        background-color: $jet;
        
        &.open {
            display: block;
            position: absolute;
            right:0;
            top: 30px;
            width: 200px;
            opacity: .8;
            
            ul {
                li {
                    a {
                        color: #fff;
                        padding: 1em;
                        display: block;
                        text-align: right;
                        font-family: $arvo;
                        font-size: 1.25em;
                        border-bottom: 2px solid #fff;
                        text-decoration: none;
                        
                        i {
                            margin-left: .5em;
                        }
                        
                        &:hover, &:focus {
                            background-color: $blk;
                            color: $lime;
                        }
                    }
                }
            }
        }
    }
}

.logo {
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    
    span {
        background-image: url('../img/avatar-me.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
        width: 100%;
        display: block;
    }
}

.content-wrap {
    width: 100%;
    max-width: $content-width;
    margin: 0 auto;
    padding: 1em;
}

section {
    > h2 {
        text-transform: uppercase;
        border-bottom: 1px solid #666;
        padding-bottom: .25em;
        margin: 3em 0 1em;
        font-family: $arvo;
        font-size: 1.25rem;
    }
}

header {
    section {
        > p {
            font-size: 1.25em;
            line-height: 1.5;
            margin: 0 0 1em;
        }
    }
}

.heading {
    padding-top: 3em;
    
    .logo {
        width: 120px;
        height: 120px;
    }
    
    h1 {
        font-family: arvo;
        font-weight: 700;
        font-size: 3rem;
        mix-blend-mode: multiply;
        position: relative;
        color: #ffff00;
        opacity: .9;
        
        &:before {
            content:'Michael Johnson';
            position: absolute;
            top: 1px;
            left: -2px;
            color: #ff00ff;
            mix-blend-mode: multiply;
            opacity: .9;
        }
        &:after {
            content:'Michael Johnson';
            position: absolute;
            left: -1px;
            top: 2px;
            color: #00ffff;
            mix-blend-mode: multiply;
            opacity: .9;
        }
    }
    
    @include breakpoint($small-break) {
        @include flex-display;
        @include flex-justify-start;
        @include flex-items-center;
    }
}

#intro {
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-bottom: 1px dotted #999;
}

main {
    section {
        position: relative;
        // padding-left: 3.5em;
    
        > p {
            font-size: 1.25em;
            line-height: 1.5;
            margin: 0 0 1em;
            
            a {
                text-decoration: none;
                border-bottom: 1px solid #ccc;
                color: $blue-dk;
                
                &:hover, &:focus {
                    border-bottom: 1px solid $lime;
                    color: $blk;
                }
            }
        }
    }
}

.section-title {

}

.text {
    > p {
        font-size: 1.75rem;
        line-height: 1.5;
    }
}

.example {
    @include flex-display;
    @include flex-justify-around;
    @include flex-items-center;
    @include flex-direction-column;
    
    li {
        a {
            display: block;
            
            img {
                display: block;
                width: 100%;
            }
            
            &:before {
                content: '';
                background-size: cover;
                height: 100%;
                width: 100%;
                position: absolute;
                transition: .25s;
                opacity: 1;
                left: 0;
                top: 0;
            }
            
            &#staffpunch {
                position: relative;
                
                &:before {
                    background-image: url('../img/overlay-staffpunch.png');
                }
            }
            &#food-truck {
                position: relative;
                
                &:before {
                    background-image: url('../img/overlay-food-truck.png');
                }
            }
        }
    }
    
    @include breakpoint($small-break) {
        @include flex-direction-row;
        
        li {
            flex: 0 0 25%;
            
            a {
                &:before {
                    opacity: 0;
                }
                &:hover {
                    &:before {
                        opacity: 1;
                    }
                }
            }
        }
    }
    
}

#timeline {
    position: relative;
    margin-bottom: 5em;
    
    > ul {
        @include flex-display;
        @include flex-justify-between;
        @include flex-items-start;
        @include flex-direction-column;
        
        > li {
            padding: 1em 0em 1em 2em;
            position: relative;
            width: 100%;
            
            .card  {
                box-shadow: 0px 1px 2em 5px rgba(0,0,0,.1);
                    
                .title {
                    font-size: .9rem;
                    padding: 1em;
                    background-color: #999;
                    text-align: left;
                    position: relative;
                    @include flex-display;
                    @include flex-items-center;
                    
                    h3 {
                        padding: .5em;
                        color: #fff;
                        font-weight: 700;
                        background-color: #ccc;
                        display: inline-block;
                        font-size: 2em;
                    }
                    
                    > div {
                        padding: 0 1em;
                        
                        span {
                            font-size: .8em;
                            color: #fff;
                        }
                        
                        h2 {
                            color: #fff;
                            font-weight: 700;
                            font-size: 2em;
                        }
                    }
                    
                    &:before {
                        content: '\f10c';
                        font-family: 'fontawesome';
                        color: #999;
                        position: absolute;
                        background-color: #fff;
                        border: 5px solid #fff;
                        border-radius: 50%;
                        z-index: 999;
                        left: -2.8em;
                    }
                    
                    &:after {
                        position: absolute;
                        content: '\f0d9';
                        font-family:'fontawesome';
                        color: #999;
                        left: -.3em;
                        font-size: 3em;
                    }
                }
                
                .body {
                    padding: 1em;
                    
                    p {
                        text-align: left;
                        line-height: 1.5;
                    }
                    
                    .foot {
                        border-top: 1px solid #ccc;
                        margin-top: 1em;
                        padding-top: 1em;
                        
                        ul {
                            li {
                                button {
                                    width: 80px;
                                }
                            }
                        }
                        
                        h4 {
                            text-align: right;
                        }
                    }
                }
            }
        }
    }
    
    &:after {
        content:'';
        background-color: #ccc;
        height: 100%;
        position: absolute;
        width: 1px;
        left: 0;
        top: 20px;
    }
    
    @include breakpoint($mid-break) {
        margin-bottom: 10em;
            
        > ul {
            @include flex-direction-row;
            @include flex-wrap;
            
            > li {
                flex: 0 0 50%;
                padding: 3em;
                
                &:nth-of-type(odd) {
                    text-align: right;
                    
                    .card {
                        .title {
                            font-size: 1rem;
                            &:before {
                                content: '\f10c';
                                font-family: 'fontawesome';
                                left: calc(100% + 2.2em);
                            }
                            &:after {
                                content:'\f0da';
                                left: 100%;
                            }
                        }
                    }
                }
                &:nth-of-type(even) {
                    top: 10em;
                    
                    .card {
                        .title {
                            &:before {
                                left: -3.8em;
                            }
                        }
                    }
                }
            }
        }
        
        &:after {
            content:'';
            left: 50%;
        }
    }
}

.list {
    list-style-type: circle;
    padding-left: 2em;
    line-height: 1.5;
}

.side-by-side {
    @include flex-display;
    @include flex-justify-between;
    @include flex-items-start;
    @include flex-wrap;
    padding: 2em 0;
    
    p {
        line-height: 1.5;
        margin: 0 0 1em;
    }
    
    @include breakpoint($mid-break) {
        .rt {
            margin-left: 2em;
        }
        
        p {
            flex: 0 0 25%;
        }
        
        .img-wrap {
            margin: 0;
            flex: 0 0 70%;
        }
    }
}

.img-wrap {
    margin-top: 2em;
    
    img {
        display: block;
        width: 100%;
    }
}

.dialog-pop {
    @include flex-display;
    @include flex-justify-center;
    @include flex-items-center;
    @include flex-wrap;
    padding: 2em 0;
    
    li {
        padding: .5em;
        
        button {
            background-color: transparent;
            margin: 0;
            padding: 0;
            border-radius: 5px;
        }
        
        a {
            display: block;
        }
        
        button, a {
            border: 2px solid transparent;
            width: 120px;
            
            img {
                display: block;
                width: 100%;
                border-radius: 5px;
            }
                
            &:hover, &:focus {
                cursor: pointer;
                border: 2px solid $lime;
                outline: 0;
            }
        }
    }
    
    .foot & {
        padding: 0;
    }
}

.meta {
    text-align: right;
    h1 {
        font-family: $arvo;
        font-size: 3em;
    }
    span { 
        display: block;
        line-height: 1.25;
    }
}

.proto {
    li {
        button {
            width: 220px;
        }
    }
}

footer {
    background-color: $blue-dk;
    padding: 1em 0;
    
    > div {
        @include flex-display;
        @include flex-justify-between;
        @include flex-items-start;
        @include flex-direction-column;
        
        .footerMeta {
            display: block;
            
            ul {
                @include flex-display;
                @include flex-justify-between;
                @include flex-items-start;
                @include flex-direction-column;
                
                &:first-of-type {
                    margin-right: 3em;
                    padding-bottom: 1em;
                }
            }
        }
    }
    
    h3 {
        font-family: $arvo;
        font-size: .8em;
        text-transform: uppercase;
        color: $silver;
        padding: .5em;
        letter-spacing: 1px;
            
        a {
            color: $smoke;
            border-bottom: 1px solid $silver;
            text-decoration: none;
            
            &:hover, &:focus {
                border-bottom: 1px solid $smoke;
            }
        }
    }
    
    @include breakpoint($small-break) {
        > div {
            .footerMeta {
                @include flex-display;
                @include flex-justify-between;
                @include flex-items-center;
                
                ul {
                    &:first-of-type {
                        padding: 0;
                    }
                }
            }
        }
    }
    @include breakpoint($mid-break) {
        > div {
            .footerMeta {
                ul {
                    @include flex-direction-row;
                }
            }
        }  
    }
    @include breakpoint($max-width) {
        > div {
            @include flex-direction-row;
        }
    }
}

#design {
    h3 {
        text-align: right;
        font-weight: 700;
        border-bottom: 1px dotted $jet;
    }
    .list {
        padding: 1em 2em 3em;
        
        li {
            a {
                display: inline-block;
                padding: .5em 0 0;
                font-size: 1.25rem;
                text-decoration: none;
                border-bottom: 1px solid #ccc;
                color: $blue-dk;
                
                &:hover, &:focus {
                    border-bottom: 1px solid $lime;
                    color: $blk;
                }
            }
        }
    }
    
    @include breakpoint($mid-break) {
        .list {
            @include flex-display;
            @include flex-justify-between;
            @include flex-items-center;
            @include flex-wrap;
            li {
                flex: 1 0 50%;
            }
        }
    }
}

#dialog {
    position: relative;
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden;
    max-width: 100%;
    z-index: 9999;
    padding: 1em;
    background: #fff;
    border-radius: 5px;
}

.ui-widget-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 999;
}

.ui-dialog {
    overflow: hidden;
    z-index: 9999;
    max-width: 600px;
    
    .ui-dialog-titlebar {
        position: absolute;
        z-index: 99999;
        right: 0;
        top: 0;
        
        .ui-button {
            background: transparent;
            border: 0;
            font-size: 2em;
            background-color: #fff;
            border-radius: 50%;
            margin: 0;
            padding: 1px 3px;
            outline: 0;
            transition: .5s;
            
            &:hover {
                cursor: pointer;
                color: #c10;
            }
        }
    }
}

.ui-dialog-content {
    img {
        display: block;
        width: 100%;
    }
}